
body{
    font-family: robot, lato !important;
    font-size:large;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo{
    height: 43px;
}
.navbar-brand{
    font-size: 27px;
    padding-left: 10px;
    font-family: 'Lato';
}
.nav-item a{
    color: gray !important;
    font-size: 16px ;
    padding : 0 10px ;
    font-weight: 600;

}
.display-center{
    display: flex;
    justify-content:center;
    align-items:center;
}
li.nav-item{
    padding: 0 10px;
}
.signin-image{
    height: 390px;
    border:25px solid white;
    border-radius:5px;
    box-shadow: 1px 1px 5px gray;
}
textarea:focus,input:focus{
    outline: none !important;
}
.cursor-pointer{
    cursor: pointer;
}
.jumbotron{
    background-color:white
}

#enter_code{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    width: 19rem;
    padding-right: 1px;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  /*background: linear-gradient(to bottom, #000066 0%, #333399 100%);*/
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

img {
  max-width: 100%;
}

body {
  background-color: #c9b497;
}

navbar .logo {
  font-size: 28px;
  color: black;
  font-weight: bold;
  padding: 0 12%;
  margin-top: 32px;
}

.main {
  display: flex;
  padding: 0 12%;
  margin-top: 15vh;
  width: 100%;
}
.main .create-join {
  width: 85%;
  margin-right: 50px;
}
.main .create-join .text .head {
  font-size: 36px;
  font-weight: bold;
  color: black;
}
.main .create-join .text .subtext {
  font-size: 24px;
  color: black;
  margin-top: 10px;
}
.main .create-join .createroom-butt {
  width: 100%;
  margin-top: 60px;
  font-size: 24px;
  font-weight: normal;
  background-color: #f19041;
  color: black;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  border: 2px solid #f19041;
  transition: 0.3s;
}
.main .create-join .createroom-butt:hover {
  background-color: white;
  border: 2px solid #b86e31;
  color: #111;
  cursor: pointer;
}
.main .create-join .createroom-butt:focus {
  outline: none;
}
.main .create-join .createroom-clicked {
  width: 100%;
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #b86e31;
  color: #b86e31;
}
.main .create-join .createroom-clicked:focus {
  outline: none;
}
.main .create-join .roomcode {
  width: 100%;
  margin-top: 30px;
  font-size: 24px;
  color: #393e46;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-bottom: 3px solid #232931;
  border-top: 2px solid white;
  font-weight: bold;
}
.main .create-join .roomcode:focus {
  /*background-color: white;*/
  border: 0;
  /*border-bottom: 3px solid #232931;*/
  /*border-top: 2px solid white;*/
  outline: none;
  border-radius: 0;
}
.main .create-join .roomcode-error {
  border-bottom: 3px solid #d31c1c;
}
.main .create-join .joinroom {
  margin-top: 10px;
  width: 200px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;;
  padding-bottom: 5px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.main .video-cont {
  width: 100%;
  text-align: center;
}
.main .video-cont .video-self {
  height: 400px;
  width: 100%;
  background-color: #393e46;
  border-radius: 10px;
  object-fit: cover;
}
.main .video-cont .settings {
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
  width: 100px;
}
.main .video-cont .settings .device {
    background-color: #f19041;
    border-radius: 100px;
    padding: 10px;
    width: 55px;
    height: 45px;
    margin-right: 10px;
    color: white;

  color: white;
}
.main .video-cont .settings .device:hover {
  background-color: #393e46;
  cursor: pointer;
}
.main .video-cont .settings .nodevice {
  background-color: #b12c2c;
  border-radius: 100px;
  padding: 10px;
  width: 55px;
  height: 45px;
  margin-right: 10px;
  color: white;
}
.main .video-cont .settings .nodevice:hover {
  background-color: #393e46;
  cursor: pointer;
}

@media (max-width: 1200px) {
  
  .main .video-cont {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
